body {
    margin: 0;
    padding: 0;
}

aside {
    float: left;
    display: inline-block;
    color: #ffffff;
    background-color: #2b81af;
    border-right: 10px solid #236a90;
}

article, .dialog.active {
    background-color: #a4ddff;
    display: inline-block;
}

aside {
}

/******************** friend *****************************/

#friends {
    display: table;
}

.friend {
    display: table-row;
}

.friend {
    cursor: pointer;
}

.friend img, .friend div, #collapse, #search-friend {
    display: table-cell;
}

.friend > div {
    padding-left: 1mm;
    padding-right: 1mm;
    margin: 0;
    vertical-align: middle;
}

.friend.unread > img {
    -webkit-animation-duration: 2400ms;
    -webkit-animation-name: unread;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes unread {
    from{
        opacity:0.1;
        -webkit-filter: grayscale(0.9) blur(1px);
    }
    50% {
        opacity:1.0;
        -webkit-filter: grayscale(0.2) blur(0);
    }
    to  {
        opacity:0.1;
        -webkit-filter: grayscale(0.9) blur(1px);
    }
}

.friend:not(.online) {
    opacity: 0.5;
    -webkit-filter: grayscale(0.9);
}

.selected {
    background-color: #a4ddff;
    color: #000000;
}

/******************** dialog *****************************/

.dialog {
    display: none;
}

.dialog div {
    margin: 0 0 0 0;
    /*border: 2px solid rgba(255, 255, 255, 0.50);*/
    padding: 1mm 2mm;
}

.dialog div.me {
    background-color: rgba(43, 129, 175, 0.4);

}

.dialog div.unread {
    background: url("img/unread.svg");
}

.dialog div.deleted {
    opacity: 0.3;
}

#collapse, #search-friend {
    vertical-align: middle;
}

#collapse {
    width: 50px;
    height: 35px;
    text-align: center;
}

[contenteditable="true"] {
    background-color: #ffffff;
    color: #000000;
}

#search-friend {
    min-width: 100px;
    padding: 2mm;
}

.dialog > [contenteditable="true"] {
    min-width: 300px;
}

#reload {
    width: 50px;
    height: 50px;
    background-image: url("img/reload.svg");
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    text-align: center;
    vertical-align: middle;
}

#reload.loading {
    background-image: url("img/loading.svg");
    background-size: 128%;
}

#toolbar {
    vertical-align: middle;
}

#toolbar > div {
    display: table-cell;
}

#background {}